.btn-orange {
  text-decoration: none;
  background-color: #e65424;
  padding: 8px 0;
  margin-top: 8px;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}

.btn-orange:hover {
  background-color: #e65524c7;
}
